@{
    @model List<RealTimeStockSimulator.Models.OwnershipAsset>
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using static RealTimeStockSimulator.Models.Enums.NavEnabled;
    @using System.Text.Json
    @using RealTimeStockSimulator.Extensions

    ViewData["title"] = "Portfolio";
    ViewBag.NavEnabled = Portfolio;
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Portfolio
    </h1>
    <h2>
        Total value: <span data-price="@FormatDecimalToJsDecimal(Model.GetTotalOwnershipValue())" class="TotalOwnershipValue">$@FormatDecimalPrice(Model.GetTotalOwnershipValue())</span>
    </h2>

    <partial name="_ErrorMessage" />
    <partial name="_ConfirmMessage" />

    <table class="table mt-4">
        <thead class="table-dark">
            <tr>
                <th>
                    Asset
                </th>
                <th>
                    Symbol
                </th>
                <th>
                    Type
                </th>
                <th>
                    Value
                </th>
                <th>
                    Amount owned
                </th>
                <th>
                    Total value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (OwnershipAsset asset in Model)    
                {
                    <tr>
                        <partial name="_AssetTdCosmetics" model=asset />
                        <td>
                            @asset.Symbol
                        </td>
                        <td>
                            @asset.Type
                        </td>
                        <td data-price-symbol="@asset.Symbol" data-price="@FormatDecimalToJsDecimal(asset.AssetPriceInfos.Price)">
                            $@FormatDecimalPrice(asset.AssetPriceInfos.Price)
                        </td>
                        <td data-amount-label-number="1" data-amount-label-symbol="@asset.Symbol" data-amount-label-value="@asset.Amount">
                            @asset.Amount
                        </td>
                        <td data-price-symbol="@asset.Symbol" data-price="@FormatDecimalToJsDecimal(asset.AssetPriceInfos.Price)" data-amount-label-number="1">
                            $@FormatDecimalPrice(asset.TotalValue)
                        </td>    
                        <td>
                            <a class="btn primary-custom-btn" href="/Assets/Buy?Symbol=@asset.Symbol">Buy</a>
                            <a class="btn btn-danger" href="/Assets/Sell?Symbol=@asset.Symbol">Sell</a>
                        </td>    
                    </tr>    
                }  
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />

<script>
    let ownershipJson = @Html.Raw(JsonSerializer.Serialize(Model));
</script>
<partial name="_MarketConnectionScripts" />