@{
    @model List<RealTimeStockSimulator.Models.OwnershipTradable>
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using System.Text.Json
    @using RealTimeStockSimulator.Extensions

    ViewData["title"] = "Portfolio";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Portfolio
    </h1>
    <h2>
        Total value: <span data-price="@FormatDecimalToJsDecimal(Model.GetTotalOwnershipValue())" class="TotalOwnershipValue">$@FormatDecimalPrice(Model.GetTotalOwnershipValue())</span>
    </h2>

    <partial name="_ErrorMessage" />
    <partial name="_ConfirmMessage" />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Value
                </th>
                <th>
                    Amount owned
                </th>
                <th>
                    Total value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (OwnershipTradable tradable in Model)    
                {
                    <tr> 
                        <td> 
                            @tradable.Symbol    
                        </td>
                        <td data-price-symbol="@tradable.Symbol" data-price="@FormatDecimalToJsDecimal(tradable.TradablePriceInfos.Price)">
                            $@FormatDecimalPrice(tradable.TradablePriceInfos.Price)
                        </td>
                        <td data-amount-label-number="1" data-amount-label-symbol="@tradable.Symbol" data-amount-label-value="@tradable.Amount">
                            @tradable.Amount
                        </td>
                        <td data-price-symbol="@tradable.Symbol" data-price="@FormatDecimalToJsDecimal(tradable.TradablePriceInfos.Price)" data-amount-label-number="1">
                            $@FormatDecimalPrice(tradable.TotalValue)   
                        </td>    
                        <td>    
                            <a href="/Tradables/Buy?Symbol=@tradable.Symbol">Buy</a>    
                            |    
                            <a href="/Tradables/Sell?Symbol=@tradable.Symbol">Sell</a>    
                        </td>    
                    </tr>    
                }  
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />

<script>
    let ownershipJson = @Html.Raw(JsonSerializer.Serialize(Model));
</script>
<partial name="_MarketConnectionScripts" />