@{
    @model RealTimeStockSimulator.Models.MultiOwnership
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using System.Text.Json
    @using RealTimeStockSimulator.Extensions

    ViewData["title"] = "Leaderboard";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Top 10 valued user portfolios
    </h1>
    <table class="table leaderboard-table mt-4">
        <thead class="table-dark">
            <tr>
                <th>
                    Place
                </th>
                <th>
                    User ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Portfolio value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Ownerships.Count; i++)    
                {
                    Ownership ownership = Model.Ownerships[i];

                    <tr>
                        <td class="CurrentPlace">
                            #@(i + 1)
                        </td>
                        <td>
                            @ownership.User.UserId
                        </td>
                        <td>
                            @ownership.User.UserName
                        </td>
                        <td class="TotalOwnershipValue" data-user-id="@ownership.User.UserId" data-price="@FormatDecimalToJsDecimal(ownership.GetTotalValue(Model.TradablesDictionary))">
                            $@FormatDecimalPrice(ownership.GetTotalValue(Model.TradablesDictionary))
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/Users/Portfolio?UserId=@ownership.User.UserId">View portfolio</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />

<script src="~/js/Leaderboard.js"></script>
<script>
    let multiOwnershipJson = @Html.Raw(JsonSerializer.Serialize(Model, new JsonSerializerOptions { IncludeFields = true}));
</script>
<partial name="_MarketConnectionScripts" />