@{
    @model RealTimeStockSimulator.Models.ViewModels.UserPortfolioVM
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using System.Text.Json
    @using RealTimeStockSimulator.Extensions

    ViewData["title"] = $"{Model.User.UserName}'s Portfolio";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        @Model.User.UserName's Portfolio
    </h1>
    <h2>
        Total value: <span data-price="@FormatDecimalToJsDecimal(Model.OwnershipAssets.GetTotalOwnershipValue())" class="TotalOwnershipValue">$@FormatDecimalPrice(@Model.OwnershipAssets.GetTotalOwnershipValue())</span>
    </h2>

    <partial name="_ErrorMessage" />
    <partial name="_ConfirmMessage" />

    <table class="table mt-4">
        <thead class="table-dark">
            <tr>
                <th>
                    Asset
                </th>
                <th>
                    Symbol
                </th>
                <th>
                    Type
                </th>
                <th>
                    Value
                </th>
                <th>
                    Amount owned
                </th>
                <th>
                    Total value
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (OwnershipAsset ownershipAsset in Model.OwnershipAssets)
                {
                    <tr>
                        <partial name="_AssetTdCosmetics" model=ownershipAsset />
                        <td>
                            @ownershipAsset.Symbol
                        </td>
                        <td>
                            @ownershipAsset.Type
                        </td>
                        <td data-price-symbol="@ownershipAsset.Symbol" data-price="@FormatDecimalToJsDecimal(ownershipAsset.AssetPriceInfos.Price)">
                            $@FormatDecimalPrice(ownershipAsset.AssetPriceInfos.Price)
                        </td>
                        <td data-amount-label-number="1" data-amount-label-symbol="@ownershipAsset.Symbol" data-amount-label-value="@ownershipAsset.Amount">
                            @ownershipAsset.Amount
                        </td>
                        <td data-price-symbol="@ownershipAsset.Symbol" data-price="@FormatDecimalToJsDecimal(ownershipAsset.AssetPriceInfos.Price)" data-amount-label-number="1">
                            $@FormatDecimalPrice(ownershipAsset.TotalValue)
                        </td>
                        <td>
                            <a class="btn primary-custom-btn" href="/Assets/Buy/@ownershipAsset.Symbol">Buy</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />

<script>
    let ownershipJson = @Html.Raw(JsonSerializer.Serialize(Model.OwnershipAssets));
</script>
<partial name="_MarketConnectionScripts" />