@{
    @model List<RealTimeStockSimulator.Models.MarketTransactionAsset>
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter
    @using static RealTimeStockSimulator.Models.Enums.NavEnabled;

    ViewData["title"] = "Transactions";
    ViewBag.NavEnabled = Transactions;
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Transactions
    </h1>
    <table class="table mt-4">
        <thead class="table-dark">
            <tr>
                <th>
                    Transaction ID
                </th>
                <th>
                    Symbol
                </th>
                <th>
                    Type
                </th>
                <th>
                    Value
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Total value
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(MarketTransactionAsset transaction in Model)
                {
                    <tr>
                        <td>
                            @transaction.TransactionId
                        </td>
                        <td>
                            @transaction.Asset.Symbol
                        </td>
                        <td>
                            @transaction.Asset.Type
                        </td>
                        <td>
                            $@FormatDecimalPrice(transaction.Price)
                        </td>
                        <td>
                            @transaction.Amount
                        </td>
                        <td>
                            $@FormatDecimalPrice(transaction.Price * transaction.Amount)
                        </td>
                        <td>
                            @transaction.Status
                        </td>
                        <td>
                            @transaction.Date
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />