@{
    @model List<RealTimeStockSimulator.Models.MarketTransactionTradable>
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter

    ViewData["title"] = "Transactions";
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Transactions
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Transaction id
                </th>
                <th>
                    Symbol
                </th>
                <th>
                    Value of symbol
                </th>
                <th>
                    Total value
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(MarketTransactionTradable transaction in Model)
                {
                    <tr>
                        <td>
                            @transaction.TransactionId
                        </td>
                        <td>
                            @transaction.Tradable.Symbol
                        </td>
                        <td>
                            $@FormatDecimalPrice(transaction.Price)
                        </td>
                        <td>
                            $@FormatDecimalPrice(transaction.Price * transaction.Amount)
                        </td>
                        <td>
                            @transaction.Amount
                        </td>
                        <td>
                            @transaction.Status
                        </td>
                        <td>
                            @transaction.Date
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>

<partial name="_Footer" />