@{
    @model RealTimeStockSimulator.Models.ViewModels.BuyVM
    @using static RealTimeStockSimulator.Models.Helpers.StringFormatter

    ViewData["title"] = "Buy";

    int amountValue = 1;

    if (Model.Amount != null)
    {
        amountValue = (int)Model.Amount;
    }    
}

<partial name="_Navbar" />

<main class="w-75 mx-auto">
    <h1>
        Buying @Model.Tradable.Symbol
    </h1>
    <h3>
        Value of @Model.Tradable.Symbol: <span data-price-symbol="@Model.Tradable.Symbol" data-price="@FormatDecimalToJsDecimal((decimal)Model.Tradable.TradablePriceInfos.Price)">
            $@FormatDecimalPrice(Model.Tradable.TradablePriceInfos.Price)
        </span>
    </h3>
    <h3>
        Total cost of order: <span id="totalValueLbl" data-amount-label-number="1" data-price-symbol="@Model.Tradable.Symbol" data-price="@FormatDecimalToJsDecimal((decimal)Model.Tradable.TradablePriceInfos.Price)">
            $@FormatDecimalPrice(Model.Tradable.TradablePriceInfos.Price * amountValue)
        </span>
    </h3>

    <partial name="_ErrorMessage" />

    <form action="/Tradables/ProcessBuy" method="post">
        <input type="hidden" name="symbol" value="@Model.Tradable.Symbol"/>
        <div class="mb-2">
            <label class="form-label" for="amount">Amount:</label>
            <input class="form-control" type="number" id="amount" name="amount" value="@amountValue"
                   data-amount-label-number="1" data-amount-label-symbol="@Model.Tradable.Symbol" data-amount-label-value="@amountValue" required />
        </div>
        <input type="submit" class="btn mb-2 primary-background-color text-white" value="Buy amount" />
    </form>
</main>

<partial name="_Footer" />
<partial name="_MarketConnectionScripts" />
<script src="~/js/BuySellPriceSetter.js"></script>